#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.answer {
  width: 475px;
  height: 50px;
  font-size: 35px;
  padding: 5px;
}

.submit {
  width: 175px;
  height: 50px;
  font-size: 35px;
  padding: 0px;
}
